@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Root Variables */
:root {
  --c-primary-team: hsl(0, 78%, 62%);
  --c-primary-super: hsl(180, 62%, 55%);
  --c-primary-karma: hsl(34, 97%, 64%);
  --c-primary-calc: hsl(212, 86%, 64%);

  --c-neutral-text-dark: hsl(234, 12%, 34%);
  --c-neutral-text-regular: hsl(229, 6%, 66%);
  --c-neutral-bg: hsl(0, 0%, 98%);

  --ff-primary: "Poppins", sans-serif;

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  /* Variable Font Sizes - Heading */
  --fs-heading__mobile: 1.5rem;
  --fs-heading__desktop: 2.25rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Base Styles */

body {
  background: var(--c-neutral-bg);
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: 0.9375rem;

  padding: 5.33em 2.13em;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Typography & Text Color */
main .heading h1 {
  font-size: var(--fs-heading__mobile);
  line-height: 1.375;
  letter-spacing: 0.17px;

  font-weight: var(--fw-200);

  color: var(--c-neutral-text-dark);
}

main .heading span {
  font-weight: var(--fw-600);
  display: block;
}

main .heading > p {
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: var(--c-neutral-text-regular);
}

main .features p {
  color: var(--c-neutral-text-regular);
  letter-spacing: 0.09px;
  line-height: 1.77;

  font-size: 0.8125rem;
}

main .features h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--c-neutral-text-dark);
}

/* Spacing & Layout */
main {
  max-width: 20.73em;
}
main .heading span {
  margin-top: 0.17em;
  margin-bottom: 0.67em;
}

main .heading {
  margin-bottom: 5.07em;
  text-align: center;
}

main .features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5625em;
}

main .features .card {
  background: #fff;
  padding: 1.87em;
  border-radius: 0.53em;

  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  position: relative;
}

/* Cards upper border */

main .features > .super::before {
  content: "";
  inset: 0;
  height: 3.55px;
  width: 100%;
  background-color: var(--c-primary-super);
  position: absolute;
  border-radius: 0.53em 0.53em 0 0;
}

main .features > .team::before {
  content: "";
  inset: 0;
  height: 3.55px;
  width: 100%;
  background-color: var(--c-primary-team);
  position: absolute;
  border-radius: 0.53em 0.53em 0 0;
}

main .features > .karma::before {
  content: "";
  inset: 0;
  height: 3.55px;
  width: 100%;
  background-color: var(--c-primary-karma);
  position: absolute;
  border-radius: 0.53em 0.53em 0 0;
}

main .features > .calc::before {
  content: "";
  inset: 0;
  height: 3.55px;
  width: 100%;
  background-color: var(--c-primary-calc);
  position: absolute;
  border-radius: 0.53em 0.53em 0 0;
}

main .features h3 {
  margin-bottom: 0.15em;
}

.features .card > p {
  margin-bottom: 2.54em;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .icon {
  max-height: 3.8em;
  max-width: 3.8em;
  align-self: flex-end;
}

/* Small Laptops & Tablets*/
@media screen and (min-width: 44em) {
  main {
    max-width: 41.47em;
  }

  main .card {
    max-width: 20.73em;
  }

  main .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 72em) {
  main {
    max-width: 74em;
  }

  main .features {
    grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1fr;
    grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr;
    gap: 2em;
  }

  main .features .super {
    grid-column-start: col-1;
    grid-row-start: row-2;
    grid-row-end: row-4;
  }

  main .features .team {
    grid-column-start: col-2;
    grid-row-start: row-1;
    grid-row-end: row-3;
  }

  main .features .karma {
    grid-column-start: col-2;
    grid-row-start: row-3;
    grid-row-end: row-5;
  }

  main .features .calc {
    grid-column-start: col-3;
    grid-row-start: row-2;
    grid-row-end: row-4;
  }

  main .card {
    max-width: 23.33em;
  }

  .card .icon {
    max-height: 4.27em;
    max-width: 4.27em;
  }
}
